<div class="col-xs-3" style="user-select: auto;">
  <h2 style="user-select: auto;">User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %> <!-- 変更 -->

  <table class="table" style="user-select: auto;">

    <tbody style="user-select: auto;"><tr style="user-select: auto;"></tr>
      <tr style="user-select: auto;">
        <th style="user-select: auto;">name</th>
        <th style="user-select: auto;"><%= current_user.name %></th> <!-- 変更 -->
      </tr>
      <tr style="user-select: auto;">
        <th style="user-select: auto;">introduction</th>
        <th style="user-select: auto;"><%= current_user.introduction %></th> <!-- 変更 -->
      </tr>
    </tbody>

  </table>

  <div class="row" style="user-select: auto;">
    <%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %> <!-- 変更 -->
  </div>

  <h2 style="user-select: auto;">New book</h2>
  <%= form_for(@book) do |f| %> <!-- 変更 -->

    <div class="field row" style="user-select: auto;">
      <label for="book_title" style="user-select: auto;">Title</label>
      <%= f.text_field :title, class:"col-xs-12" %> <!-- 変更 -->
    </div>

    <div class="field row" style="user-select: auto;">
      <label for="book_opinion" style="user-select: auto;">Opinion</label>
      <%= f.text_area :body, class:"col-xs-12 book_body" %> <!-- 変更 -->
    </div>

    <div class="actions row" style="user-select: auto;">
      <%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %> <!-- 変更 -->
    </div>

  　　<% end %> <!-- 変更 -->
</div>