<div class="body" style="user-select: auto;">
  <div class="container" style="user-select: auto;">

<!-- サクセスメッセージ -->
<%= render 'template/flash.message' %>



<!-- 左側 -->
<%= render 'template/sidebar' %>

<!-- 右側 -->

  <div class="col-xs-9" style="user-select: auto;">
		<h2 style="user-select: auto;">Book detail</h2>
		<table class="table" style="user-select: auto;">
		  <tbody style="user-select: auto;">
        <tr style="user-select: auto;">
          <td style="user-select: auto;"><a href="/users/17750" style="user-select: auto;">
            <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon" style="user-select: auto;"><br style="user-select: auto;">
            qqq</a> <!-- 変更 -->
          </td>
          <td style="user-select: auto;"><%= @books.title %></td> <!-- 変更 -->
          <td style="user-select: auto;"><%= @books.body %></td> <!-- 変更 -->
          <% if @books.user_id == current_user.id %>
          <td style="user-select: auto;"><%= link_to "Edit", edit_book_path, class: "btn-sm btn-success" %></td>　<!-- 変更 -->
          <td style="user-select: auto;"><%= link_to "Destroy", @books, method: :delete, "data-confirm" => "本当に削しますか？", class: "btn-sm btn-danger" %></td>　<!-- 変更 -->
          <% end %>
        </tr>
      </tbody>
    </table>

  </div>


　　</div>
  </div>
</div>